body {
  line-height: 1.5;
}
form {
  display: block;
  margin-top: 0;
}

hr {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  color: gray;
  unicode-bidi: isolate;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

ul {
  padding: 0;
}
li {
  position: relative;
  padding: 8px;
  color: black;
  border-top-width: 0;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 5%);
  margin: 4px 0px;
  display: block;
}
/* div {
  border: 1px soild rgba(0, 0, 0, 0.125);
} */
.btn-search {
  height: 36px;
  color: #fff;
  background-color: #198754;
  border-color: #198754;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 0.25em;
}

a,
.source {
  color: #6c757d;
  font-size: 14px;
}

input {
  width: 50%;
  height: 32px;
  background-color: #e8f0fe;
  border-radius: 0.25em;
  display: block;
  border: 1px solid #ced4da;
}

.row {
  width: 100%;
  padding: 0 12px;
  margin: 0 -12px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
}
p {
  color: red;
}
