main {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  max-width: 540px;
}
form {
  display: block;
  margin-top: 0;
}

hr {
  display: block;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  color: gray;
  border-style: inset;
  border-width: 1px;
}

ul {
  padding: 0;
}
li {
  position: relative;
  padding: 8px;
  color: black;
  border: 1px solid #6c757d6a;
  border-radius: 0.25em;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 5%);
  margin: 4px 0px;
  display: block;
  width: 100%;
}
.btn-search {
  height: 36px;
  color: #fff;
  background-color: #198754;
  border-color: #198754;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 0.25em;
}

a,
.source {
  color: #6c757d;
  font-size: 14px;
}

input {
  width: 87%;
  height: 32px;
  background-color: #e8f0fe;
  border-radius: 0.25em;
  display: block;
  border: 1px solid #ced4da;
  font-size: 24px;
}

.row {
  width: 100%;
  padding: 0 12px;
  margin: 0 -12px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
}
p {
  color: red;
}
